source https://nuget.org/api/v2
framework: net462

nuget FSharp.Core
nuget FSharp.Formatting
nuget Nuget.Core
nuget FAKE
nuget ILMerge.MSBuild.Tasks.Prime
group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group base
  lowest_matching: true
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies >= 5
  nuget Microsoft.CrmSdk.Workflow >= 5  

group crm2011
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies ~> 5
  nuget Microsoft.CrmSdk.Workflow ~> 5  

group crm2013
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies ~> 6
  nuget Microsoft.CrmSdk.Workflow ~> 6

group crm2015
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies ~> 7
  nuget Microsoft.CrmSdk.Workflow ~> 7

group crm2016
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies ~> 8.0
  nuget Microsoft.CrmSdk.Workflow ~> 8.0

group crm365
  source https://nuget.org/api/v2
  nuget Microsoft.CrmSdk.CoreAssemblies ~> 8.2
  nuget Microsoft.CrmSdk.Workflow ~> 8.2
