<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
  <appSettings>
    <add key="url" value="https://INSTANCE.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="username" value="admin@INSTANCE.onmicrosoft.com"/>
    <add key="password" value="pass@word1"/>
    <add key="domain" value=""/>
    <add key="ap" value="OnlineFederation"/>
    <add key="solutions" value="Contoso"/>
    <add key="entities" value=""/>
    <add key="fetchFromAssemblies" value="false" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
</configuration>-->
<configuration>
  <appSettings>
    <add key="url" value="https://mattmockupdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="admin@INSTANCE.onmicrosoft.com" />
    <add key="password" value="pass@word1" />
    <add key="mfaAppId" value="2ceaa6c8-8390-428d-82e0-9c72860ecaa1" />
    <add key="mfaClientSecret" value="A1N1mi~49lQutNJk~.R5MH123.up~KqS-0" />
    <add key="method" value="ClientSecret" />
    <add key="domain" value="" />
    <add key="ap" value="OnlineFederation" />
    <add key="solutions" value="Contoso" />
    <add key="entities" value="mock_uniquesinglekeyonname" />
    <add key="fetchFromAssemblies" value="false" />
    <add key="projectPath" value="C:\dev\MOD\CAMS\Tests" />
    <add key="outDir" value="C:\dev\XrmMockUp\AdditionalMetadata\uniquekeys" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
