<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://modcamsdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="ppsa-donotreply@official.mod.uk" />
    <add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
    <add key="domain" value="" />
    <add key="ap" value="" />
    <add key="solutions" value="CAMSPlugins,CAMSPluginSteps" />
    <add key="entities" value="team,cams_agreementplan,cams_agreementplanstakeholderrole,cams_annexstakeholderrole,cams_appendixstakeholderrole,cams_milestoneperformance,cams_annex,cams_appendix,cams_year,cams_agreementplantemplate,account
         ,cams_appendixtemplate,cams_annextemplate,cams_preliminariestemplate,cams_scopetemplate,cams_programmeofworktemplate
         ,cams_resourcestemplate,cams_assumptionsanddependenciestemplate,cams_freedomsandconstraintstemplate,cams_othertemplate,cams_governancetemplate,
         cams_preliminaries,cams_scope,cams_programmeofwork
         ,cams_resources,cams_assumptionsanddependencies,cams_freedomsandconstraints,cams_other,cams_metric,cams_servicerequirement,cams_userrequirement,cams_p9s9line,
         cams_servicerequirementtemplate,cams_roletype,email,
         cams_milestone,cams_resource,cams_newassumption,cams_dependency,cams_newotherresources,cams_governancemeeting,cams_otheroutput,
         cams_governance,cams_status,cams_statusaction,cams_statustransition,cams_statustransitionrole,uwt_settings,cams_roletypeaccessteam,teamtemplate,cams_change,cams_changeelement" />
    <add key="fetchFromAssemblies" value="false" />
    <add key="projectPath" value="C:\dev\MOD\CAMS\Plugins\XrmMockupTests\" />

    

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>