<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://modcamsdev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="ppsa-donotreply@official.mod.uk" />
    <add key="password" value="Handbag Scallop Overfed Pelt Chlorine1" />
    <add key="domain" value="" />
    <add key="ap" value="" />
    <add key="solutions" value="CAMSPluginSteps,CAMSEntities,CAMSEntitiesChange,CAMSEntitiesConfig,CAMSEntitiesAppendix,CAMSPlugins" />
    <add key="entities" value="team,uwt_settings,email"/>
    <add key="fetchFromAssemblies" value="false" />
    <add key="projectPath" value="C:\dev\MOD\CAMS\Plugins\XrmMockupTests" />
    <add key="outDir" value="C:\dev\MOD\CAMS\Plugins\XrmMockupTests\Metadata" />
    

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>